body {
    font: 150% Arial, Helvetica, sans-serif;
    margin: 20px;
   background-image: url(backgroung2.jpg);
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

h1{
   color: rgb(128, 0, 90);
   margin-left: 5em; 
}
h3{
    color: rgb(128, 0, 90);  
}
    
label {
    color: rgb(128, 0, 90);
    float: left;
    width: 10em;
    font-weight: bold;
    text-align: center;
    }

input {
    width: 15em;
    margin-left: 1em;
    margin-bottom: .5em;}
    
input:focus {
    border: 2px solid rgb(128, 0, 90); }

#button, #reset {
    width: 10em;
    box-shadow: 2px 2px 0 rgb(128, 0, 90);
    background-color: rgb(244, 195, 195); }

#button { 
    margin-left: 9.5em; }

#button:hover, #reset:hover{
    filter: contrast(3);
    transform: scale(1.03);
}    